Version=2
Name=XInput Gamepad (GLFW)
MovementAxisX=0
MovementAxisXFlipped=false
MovementAxisY=1
MovementAxisYFlipped=false
// Set the dead zone to the smallest number between 0.0 and 1.0.
// This is to fix "loose sticks".
MovementAxisDeadZone=0.0
AimingAxisX=2
AimingAxisXFlipped=false
AimingAxisY=3
AimingAxisYFlipped=false
AimingAxisDeadZone=0.0
AButton=0
BButton=1
XButton=2
YButton=3
LBumper=4
RBumper=5
L3=9
R3=10
Back=6
Start=7
// Normally the D-pad is treated as a single axis (the POV Hat), and these should be -1.
// If your D-pad is actually 4 separate buttons, set the button numbers here.
DPadUp=-1
DPadDown=-1
DPadLeft=-1
DPadRight=-1
TriggersFlipped=false
// If your triggers are buttons, set the button numbers here.
// If these are set to something other than -1, then Triggers= is ignored.
TriggerLeft=4
TriggerRight=5
Disabled=false
Sensitivity=0.2
